body, html{
    height: 100%;
    width: 100%;
}
.col{
    text-align: center;
}
.col h3{
    margin: 30px 0px;
}
.col h5{
    margin: 0px 0px 60px 0px;
}
area{
    background-color: lawngreen;
}
#green{
    border: 2px solid rgb(115, 156, 142);
    margin-top: 60px;
    width: 180px;
    background-color: white;
    color: rgb(115, 156, 142);
    visibility: visible;
}